name: Release

env:
  AWS_REGION: ${{ vars.AWS_REGION }}

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/release.yml'
      - 'data/**'


jobs:
  render-data:
    name: Render Data
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Setup and render
        run: |
          make setup-ci
          python3 scripts/render.py

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v35
        with:
          files: |
            awesome/opensource/data/*.json
            awesome/companies/data/*.json

      - name: Notify SQS
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        env:
          SQS_URL_DATA_INGESTION: ${{ secrets.SQS_URL_DATA_INGESTION }}
        run: |
          python3 scripts/notify.py --changed-files '${{ toJSON(steps.changed-files-specific.outputs) }}'

      - name: Commit changes
        run: |
          git config --global user.email "${{ secrets.ACTION_EMAIL }}"
          git config --global user.name "FabrizioCafolla"
          if [ -z "$(git status --porcelain)" ]; then
            echo "Nothing to update"
          else
            git add README.md
            git commit -m "release(data): Update README.md"
            git push
          fi