name: Pull request

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test.yml'
      - 'data/**'
    types: [opened, synchronize]

jobs:
  test-data:
    name: Test Data
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9


      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v35
        with:
          files: data/*.json

      - name: Setup and test
        run: |
          make setup-ci
          make lint-ci

      - name: Setup and render
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
          python3 cli.py --render --changed-files '${{ toJSON(steps.changed-files-specific.outputs) }}'